[Unit]
Description=Node.js webrtc signaling Server
#Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
ExecStart=/usr/bin/node /opt/apps/webrtc_signaling/server.js
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-webrtc_signaling
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=80

[Install]
WantedBy=multi-user.target

